In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
locale_df = pd.read_csv('locale_downloads_data/webstats-tb-locale-2020-12-27-2021-05-28.csv', skiprows=5)

In [3]:
locale_df.locale.value_counts()

ar       153
cs       153
sv-SE    153
de       153
ca       153
ga-IE    153
id       153
is       153
nb-NO    153
el       153
da       153
hu       153
ka       153
es-AR    153
ro       153
mk       153
lt       153
ms       153
he       153
zh-TW    153
th       153
pl       153
en-US    153
es-ES    153
fa       153
fr       153
pt-BR    153
ko       153
nl       153
it       153
pt-PT    153
ru       153
tr       153
vi       153
zh-CN    153
??       153
ja       153
my        45
en-us      7
en-Us      2
US         1
rn-US      1
sk         1
de-DE      1
en         1
Name: locale, dtype: int64

In [4]:
ukrainian_df = locale_df[locale_df.locale.str.contains('uk')]
ukrainian_df.date.value_counts()

Series([], Name: date, dtype: int64)

In [5]:
russian_df = locale_df[locale_df.locale.str.contains('ru')]
russian_df.date.value_counts()

2020-12-27    1
2021-04-11    1
2021-04-04    1
2021-04-05    1
2021-04-06    1
             ..
2021-02-17    1
2021-02-18    1
2021-02-19    1
2021-02-20    1
2021-05-28    1
Name: date, Length: 153, dtype: int64

In [6]:
fixed_russian_df = russian_df[~russian_df.locale.str.contains('ru-RU')]
fixed_russian_df

            date locale  initial_downloads  update_pings
11    2020-12-27     ru               7371        408374
48    2020-12-28     ru               7153        415102
86    2020-12-29     ru               7009        413015
123   2020-12-30     ru               7365        412360
160   2020-12-31     ru               6663        340448
...          ...    ...                ...           ...
5541  2021-05-24     ru               5932        172634
5579  2021-05-25     ru               6053        170896
5617  2021-05-26     ru               5777        170327
5655  2021-05-27     ru               5882        171525
5693  2021-05-28     ru               6106        174257

[153 rows x 4 columns]

In [7]:
english_us_df = locale_df[locale_df.locale == 'en-US']
english_us_df.date.value_counts()

2020-12-27    1
2021-04-11    1
2021-04-04    1
2021-04-05    1
2021-04-06    1
             ..
2021-02-17    1
2021-02-18    1
2021-02-19    1
2021-02-20    1
2021-05-28    1
Name: date, Length: 153, dtype: int64

In [8]:
eng_pivot_df = english_us_df.pivot(index='date', 
                                   columns='locale', 
                                   values=['initial_downloads', 'update_pings'])
eng_pivot_df

           initial_downloads update_pings
locale                 en-US        en-US
date
2020-12-27             60508      1727548
2020-12-28             61492      1826198
2020-12-29             61276      1833846
2020-12-30             59189      1795515
2020-12-31             51687      1598057
...                      ...          ...
2021-05-24             61425       776912
2021-05-25             59618       775145
2021-05-26             57338       766884
2021-05-27             55696       764126
2021-05-28             55209       754352

[153 rows x 2 columns]

In [9]:
rus_pivot_df = fixed_russian_df.pivot(index='date', 
                                   columns='locale', 
                                   values=['initial_downloads', 'update_pings'])
rus_pivot_df

           initial_downloads update_pings
locale                    ru           ru
date
2020-12-27              7371       408374
2020-12-28              7153       415102
2020-12-29              7009       413015
2020-12-30              7365       412360
2020-12-31              6663       340448
...                      ...          ...
2021-05-24              5932       172634
2021-05-25              6053       170896
2021-05-26              5777       170327
2021-05-27              5882       171525
2021-05-28              6106       174257

[153 rows x 2 columns]

In [10]:
en_and_rus_df = rus_pivot_df.merge(eng_pivot_df, on='date', how='inner')
en_and_rus_df

           initial_downloads update_pings initial_downloads update_pings
locale                    ru           ru             en-US        en-US
date
2020-12-27              7371       408374             60508      1727548
2020-12-28              7153       415102             61492      1826198
2020-12-29              7009       413015             61276      1833846
2020-12-30              7365       412360             59189      1795515
2020-12-31              6663       340448             51687      1598057
...                      ...          ...               ...          ...
2021-05-24              5932       172634             61425       776912
2021-05-25              6053       170896             59618       775145
2021-05-26              5777       170327             57338       766884
2021-05-27              5882       171525             55696       764126
2021-05-28              6106       174257             55209       754352

[153 rows x 4 columns]

In [11]:
en_and_rus_df.columns = en_and_rus_df.columns.map('_'.join)

In [12]:
en_and_rus_df.to_csv('ru-en-US_downloads_updates_data_Dec-May.csv', index=True)